[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#pyaudio = "*" I'm on Linux, so I do not need this; you should probably uncomment this!
pyserial = "*"
numpy = "*"
matplotlib = "*"
keyboard = "*"
scipy = "*"
pyqt5 = "*"

[dev-packages]

[requires]
python_version = "3.12"
